/*
 <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div>
<style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */

/* font-family: 'Fraunces', serif; */
.k {
  color: hsl(185, 75%, 39%), hsl(229, 23%, 23%), hsl(227, 10%, 46%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces';
  font-family: sans-serif;
}

.card {
  border: 1px solid hsl(185, 75%, 39%);
  text-align: center;
}

.bg-img {
  background: url(images/bg-pattern-card.svg);
  width: 350px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.description {
  position: relative;
  padding: 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid hsla(227, 10%, 46%, 0.123);
}

.description img {
  position: absolute;
  top: -55px;
  left: 130px;
}

.description h2 {
  margin-top: 3rem;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

span {
  margin-left: 5px;
  color: hsl(227, 10%, 46%);
  font-size: 18px;
  font-weight: 400;
}

.description p {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  font-weight: 700;
  margin-top: 0.6rem;
}

.card img {
  border-radius: 50%;
  border: 5px solid #fff;
}

.follower-numbers {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 0 0 10px 10px;
}

li {
  list-style: none;
}

.follower-numbers .number {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.follower-numbers .desc {
  color: hsl(227, 10%, 46%);
  font-size: 10px;
  letter-spacing: 1.5;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px;
}
